@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

@theme {
  --color-primary: #ffce1a;
  --color-secondary: #0d0842;
  --color-blackBG: #f3f3f3;
  --color-favorite: #ff5841;

  --font-primary: "Montserrat", sans serif;
  --font-secondary: "Nunito", serif;

  --default-font-family: "Montserrat";
}

.btn-primary {
  @apply bg-primary font-secondary hover:bg-secondary cursor-pointer rounded-md px-12 py-2 text-base font-bold transition-all duration-200 hover:text-white;
}
